body {
    background-color: rgba(169, 201, 229, 0.53);
    font-family: Minimalist, Arial, Helvetica, sans-serif;
}

header > h1, header > h2 {
    text-align: center;
    font-style: italic;
}

header nav {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color:black;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5%;
}

header a {
    margin: auto;
    color: black;
    padding: 10px;
    background-color: rgba(118, 178, 231, 0.786);
    border-style: solid; 
    border-radius: 8px;
    border-color: rgba(1, 120, 224, 0.786);
    /* width: 120px; */
    /* font-weight: normal; */
}

:not(.term) > a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
} 

.term a {
    text-decoration: none;
    color: black;
}

.teiHeader, .gloss-div {
    margin: 1.8%;
    padding: 0.5% 2% 3% 3%;
    background-color: rgba(255, 255, 255, 0.383);
}

#highlight-button {
    position: fixed;
    top: 3%;
    right: 0.5%;

    font-weight: bold;
    background-color: rgba(255, 166, 0, 0.602);
    border-width: 1px;
    width: 90px;
    white-space: normal;
    word-wrap: break-word;
    
    z-index: 1;
}

#colors {
    position: fixed;
    top: 10%;
    right: 0.5%;
    display: none;
}

#colors span {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: inline-block;
}

article {
    margin: 5%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.177);
}

p {
    font-size: 16px;
}

.selected {
    background-color: rgba(127, 255, 212, 0.41);
}

div.page {
    margin: 1.8%;
}

div.page h2 {
    padding-left: 17%;
    font-size: 20px;
    margin-bottom: 15px;
}

div.pagecols {
    display: flex;
}

div.pageimg {
    flex: 40%;
}

div.pageimg svg {
    width: 480px;
}

polygon, rect {
    fill: transparent;
    pointer-events: visible;
}

.highlighted {
    fill: rgba(255, 149, 0, 0.453);
    background-color: rgba(255, 149, 0, 0.453);;
}

div.pagebody {
    overflow-y: scroll;
    scrollbar-color: rgba(255, 166, 0, 0.602) rgba(252, 213, 142, 0.602);;
    height: 670px;
    width: 500px;
    padding-right: 3%;
    padding-left: 5%;
}

div.page-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.page-header span.align-left, 
    div.page-header span.align-center, 
    div.page-header span.align-right {
    text-align: left;
    display: inline-block;
    margin: 0;
}

.align-left {
    text-align: left;
    display: block;
}

.align-center {
    text-align: center;
    display: block;
}

.align-right {
    text-align: right;
    display: block;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.font-small {
    font-size: 13px;
}

.allcaps {
    font-variant: small-caps;
}

/* Tooltip per le note, citazioni e espansioni */
.note, .choice, .cit {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.note .note-text, .choice .expan, .cit .cit-bibl {
    visibility: hidden;
    /* width: 50px; */
    background-color: rgb(187, 223, 255);
    border-style: solid;
    border-width: 0.5;
    border-color: rgba(1, 120, 224, 0.786);
    color: black;
    text-align: center;
    font-weight: normal;
    padding: 3px;
    font-size: 12px;

    width: max-content;
    max-width: 120px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    position: absolute;
    z-index: 1;
}

.note .note-text {
    max-width: 1000px;
    transform: translateX(-90%);
    font-variant: normal;
}

.note:hover .note-text, .choice:hover .expan, .cit:hover .cit-bibl {
    visibility: visible;
}

.term.active {
    background-color: rgba(148, 221, 148, 0.666);
}

.eventName.active {
    background-color: rgba(187, 147, 225, 0.706);
}

.date.active {
    background-color: rgba(221, 159, 215, 0.671);
}

.persName.active {
    background-color: rgba(251, 159, 159, 0.681);
}

.placeName.active {
    background-color: rgba(185, 164, 109, 0.636);
}

.orgName.active {
    background-color: rgba(123, 145, 204, 0.619);
}